#contact_modal {
	display: none;
}

.photograph-header {
	background-color: #fafafa;
	height: 300px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 50px;
}

/* Filter */

.filter_container {
	position: relative;
	display: inline-block;
	margin-top: 30px;
}

.btn_container {
	display: flex;
	align-items: center;
}

#open_filter {
	background-color: #901c1c;
	color: white;
	border: none;
	padding: 12px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 170px;
	height: 70px;
	font-size: 18px;
	font-weight: 700;
	border-radius: 5px;
}

#open_filter i {
	margin-left: 10px;
}

.select_container {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	background-color: #901c1c;
	color: white;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	flex-direction: column;
	font-size: 18px;
	font-weight: 700;
	border-radius: 0 0 5px 5px;
}

.select_container.active {
	display: flex;
	position: absolute;
	left: 99px;
}

.select_container ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	width: 170px;
}

.select_container li {
	cursor: pointer;
	height: 70px;
	display: flex;
	align-items: center;
	padding-left: 12px;
}

hr {
	margin: 0 10px;
}

.select_container li:hover,
#open_filter:hover {
	background-color: #b22222;
}

.select_container li:last-child:hover {
	border-radius: 0 0 5px 5px;
}

label[for='choice'] {
	font-size: 18px;
	font-weight: 700;
	margin-right: 30px;
}

/* */

.contact_button {
	font-size: 20px;
	font-weight: bold;
	color: white;
	padding: 11px;
	width: 170px;
	height: 70px;
	border: none;
	background-color: #901c1c;
	border-radius: 5px;
	cursor: pointer;
}

.photographer-media {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin: 100px 0;
}

.photographer-media-container {
	margin: 16px 0;
}

.photographer-media img,
.photographer-media video {
	height: 300px;
	width: 350px;
	object-fit: cover;
	object-position: center;
	border-radius: 5px;
}

.titleHeart {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #901c1c;
}

.titleHeart h2 {
	margin: 5px 0;
	font-size: 16px;
	font-weight: 400;
}

.modal {
	border-radius: 5px;
	background-color: #db8876;
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 35px;
	margin: auto;
}

.modal header {
	justify-content: space-between;
	width: 100%;
}

.modal header img {
	cursor: pointer;
}

.modal header h2 {
	font-size: 64px;
	font-weight: normal;
	text-align: center;
}

form {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: flex-start;
}

form label {
	color: #312e2e;
	font-size: 36px;
}

form div {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: self-start;
	margin-bottom: 26px;
}

form input {
	width: 100%;
	height: 68px;
	border: none;
	border-radius: 5px;
}

.counterHeart {
	width: 376px;
	height: 76px;
	background: #db8876;
	position: fixed;
	bottom: 0;
	right: 30px;
	border-radius: 5px 5px 0 0;
}

.counterHeart_price {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 100%;
	font-size: 24px;
	font-weight: 500;
}

.counterHeart_bloc {
	display: flex;
	gap: 10px;
}

.counterHeart_bloc i {
	display: flex;
	align-items: center;
}

.likesHeart {
	display: flex;
	align-items: center;
	gap: 10px;
}
